* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: 'Bree Serif', serif;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.splashscreen{
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo img{
  width: 300px;
  height: auto;
  margin-top: 60%;
}

.loader-frame{
  width: 80px;
  height: 80px;
  margin-top: 90%;
  position: absolute
}

.loader1, .loader2{
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}

.loader1{
  width: 80px;
  height: 80px;
  border-top: 5px solid #EC4C4C;
  border-bottom: 5px solid #EC4C4C;
  animation: clockwisespin 2s linear 3;
}

.loader2{
  width: 70px;
  height: 70px;
  border-left: 5px solid #419A1C;
  border-right: 5px solid #419A1C;
  top: 5px;
  left: 5px;
  animation: anticlockwisespin 2s linear 3;
}

@keyframes clockwisespin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes anticlockwisespin {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}

#title{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  font-family: 'Emblema One', cursive;
  font-size: 50px;
  color: #EC4C4C;
  text-shadow: 2px 2px 5px rgb(77, 77, 77)
}

.location{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#map{
  height: 300px;
  width: 80%;
  border: 1px solid #999999;
  border-radius: 10px;
}

.line{
  background-color: #419A1C;
  height: 1px;
  width: 80%;
  display: flex;
}

.msg-info{
  font-family: 'Bree Serif', serif;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.search{
  font-family: 'Bree Serif', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.filter1{
  display: flex;
  justify-content: center;
  margin-right: 3%;
  margin-bottom: 2%;
}

.fixed{
  background-color: #EC4C4C;
  border-top: 1px solid #A33F3F;
  border-bottom: 1px solid #A33F3F;
  border-left: 1px solid #A33F3F;
  color: #FFFFFF;
  font-weight: 700;
}

.choice{
  background-color: #FFFFFF;
  border: 1px solid #2E6616
}

.choice:hover{
  background-color: #419A1C;
  color: #FFFFFF;
  border: 3px solid #2E6616;
  font-weight: 700;
}

.filter2{
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-search{
  width: 87%;
  margin-right: 3%;
}

#button-addon2{
  background-color: #419A1C;
  color: #FFFFFF;
  border: 1px solid #2E6616;
}

.restaurants{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.titulo{
  font-size: 16px;
  margin-top: 5%;
  margin-bottom: 0;
}

.restaurant-img{
  height: 121px;
  width: inherit;
  margin: 1%;
  box-shadow: 3px 3px 5px #000000;
  border-radius: 10px;
}